<html>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>

<body>
  <header>
    <div class="headerContainer">
      <img src="https://png.icons8.com/ios/1600/money.png" />
      <p id = "action"> LogIn </p>
    </div>
  </header>
<div class= "authPage">
  <div class="Container">
    <form method="POST" action="/api/authenticate">
      <input name="email">Login
      <input type = "password" name = "password">Password
      <input id = "submit" type="submit"></input>
    </form>
  </div>
</div>
<footer>
    <p>made by Y.Makarovich</p>
</footer>
</body>

</html>
