<html>

<head>
    <title></title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta http-equiv="Content-Type" content="text/html" charset = "utf-8" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />

</head>
<body>
<header>
    <div class="headerContainer">
      <img src="https://png.icons8.com/ios/1600/money.png" />
      <button action ="/logout" class="button">Log out</button>
    </div>
</header>
<img src="https://www.bitcoin.com/img/btc-question-mark.png" />
<div class="coinsMenu" id="menu">
  <span class="title" onclick="changeClass()">COIN LIST</span>
    <ul>
      <a href = "/info/?id=<%='bitcoin'%>">
        <li>Bitcoin</li>
      </a>
      <a href = "/info/?id=<%='bitcoin-cash'%>">
        <li>Bitcoin-Cash</li>
      </a>
      <a href = "/info/?id=<%='litecoin'%>">
        <li>Litecoin</li>
      </a>
      <a href = "/info/?id=<%='zcash'%>">
        <li>Zcash</li>
      </a>

    </ul>
</div>

<footer>
    <p>made by Y.Makarovich</p>
</footer>
</body>
<script type="text/javascript" src="./javascripts/script_mainmenu.js"></script>
</html>
