<html>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>

<body>
<header id="frontHeader"> CoinApp </header>
<div class = "logRegPanel">
  <form action="/auth" method="get">
<input type="submit" value="Login"></form>
  <form action="/register" method="get">
<input type="submit" value="Register"></form>
</body>
</html>
