<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta http-equiv="Content-Type" content="text/html" charset = "utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

</head>
<body>
  <header>
      <div class="headerContainer">
        <img src="https://png.icons8.com/ios/1600/money.png" />
        <button class="button">Log out</button>
      </div>
  </header>
<div class = "information">
  <p>Name of coin: <%=coinsdata.name%></p>
  <p>Description: <%=coinsdata.description%></p>
  <div class="priceInfo" id="menu">
  <span class="title" onclick="changeClass()">Current price</span>
  <ul>
      <li>Price to USD: <%=coinsdata.price.usd%></li>
      <li>Price to EUR: <%=coinsdata.price.usd%></li>
      <li>Price to RUB: <%=coinsdata.price.rub%></li>
  </ul>
  <p>Price change (24h) to USD: <%=coinsdata.price_change_24_in_currency%></p>
</div>
  <footer>
      <p>made by Y.Makarovich</p>
  </footer>

  </body>

  </html>
